---
import Menu from "../components/Menu.astro";
const Card = "div"
const Content = "div" 
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>
<body>
    <Menu />
    <div class="absolute w-full  min-h-screen">
        <div class="absolute z-0 top-0 w-full h-1/2 bg-cover bg-bottom pt-20 px-12 bg-gradient-to-r from-purple-500 to-pink-500">
        </div>
    </div>
    <Card class="relative z-10 flex min-h-screen h-auto justify-center items-center">
        <Content class="relative z-20 bg-white md:flex p-12 shadow-lg rounded-lg w-full max-w-4xl">
            <div class="sm:flex flex-col py-1 md:pr-10">
                <h2 class="text-lg mb-3">WELCOMO TO</h2>
                <h1 class="text-5xl font-bold text-gray-800mb-6">IVANDEV</h1>
                <p class="text-xl">
                    Full-stack web and mobile developer who crafts great websites and awesome mobile apps.
                </p>
            </div>
            <img src="../../public/images/foto1.jpg" alt="mi imagen" class="flex-shrink-0 w-80 rounded-full border-6 border-white shadow-md" />
        </Content>
    </Card>
</body>
</html>